html, body, section, div {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0;
}

body {
  color: #000;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  padding: 0 0;
}

.sidebarArticle {
  position: relative;
  top: 50%;
  text-align: left;
  transform: translate(0, -50%);
  margin-left: 10%;
  width: auto;
}

.socialIcons {
  font-size: 30px;
  height: 10px;
  width: 100%;
}

.socialIcons a {
  color: #888;
  margin-right: 30px;
}

.socialIcons a:hover {
  color: #3898EC;
}

.popup {
  color: #666;
  position: relative;
  white-space: nowrap;
  width: 160px;
  max-width: 160px;
  min-width: 160px;
  font-size: 16px;
  margin-right: -500px;
  margin-top: -40px;
  margin-bottom: 10px;
  padding: 10px 10px;
  border: 3px #999;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6), 0 8px 23px 0 rgba(0, 0, 0, 0.33);
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: opacity 0.7s, transform 1s;
  -webkit-transition: opacity 0.7s, transform 1s;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  opacity: 0;
}

.phone i {
  cursor: pointer;
}

.phone:hover {
  text-decoration: none;
}

.contentArticle {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 0;
}

.tooltip-inner {
  max-height: 10px;
  height: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.container {
  display: grid;
}

.left-half {
  background: #eee;
  width: 40%;
  min-width: 40%;
  max-width: 40%;
  position: fixed;
  z-index: 5;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.22);
}

.header {
  padding-bottom: 15px;
  color: #4a4a4a;
  text-shadow: 0 1px 1px #fff;
  font-weight: 5;
  font-size: 40px;
  font-family: 'Paytone One', sans-serif;
}

.sidebarDescription {
  color: #282828;
  font-family: 'Work Sans', sans-serif;
  margin-top: 5%;
  margin-bottom: 25px;
  ;
  padding-bottom: 15px;
  width: 80%;
}

.button {
  width: 200px;
  margin-left: 0;
  margin-top: 80px;
  margin-bottom: auto;
  color: white !important;
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-github {
  color: #fff;
  background-color: #575757;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
  color: #fff;
  background-color: #303030;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
  background-image: none
}

.right-half {
  width: 60%;
  min-width: 60%;
  max-width: 60%;
  margin-left: auto;
  color: #fff;
}

#row1 {
  background-color: #2a70ed;
}

#row2 {
  background-color: #ffba66;
}

@media (max-width: 800px) {
  .wrapper {
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-left: auto;
  }
  .left-half {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    position: relative;
  }
  .right-half {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .header {
    text-align: center;
  }
  .sidebarArticle {
    margin-left: auto;
    margin-right: auto;
  }
  .container-fluid {
    padding: 0 0;
  }
  .linebreak {
    display: block;
  }
  .sidebarDescription {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .socialIcons {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    position: relative;
    top: 10px;
    left: 15px;
    height: auto;
  }
  .socialIcons a {
    display: inline;
  }
  .button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .popup {
    top: 10px;
    left: 15%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .header {
    font-size: 34px;
  }
  .sidebarArticle {
    margin-left: 5%;
  }
  .sidebarDescription {
    width: 84%;
  }
}

@media (min-width: 801px) and (max-width: 815px) {
  .header {
    font-size: 30px !important;
  }
}

@media (min-width: 801px) {
  .popup {
    position: relative;
    top: 10px;
    left: 23px;
    margin-left: auto;
    margin-right: auto;
  }
  .socialIcons {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
  }
}

@-moz-document url-prefix() {
  .popup {
    left: 0 !important;
  }
}
